<div th:fragment="title">
	<h2>REPORTING MULTIVARIATE : </h2>
</div>


<div th:fragment="content">
	<div class="row">
		<div class="col-md-12">
		  <div class="x_panel">
		    <div class="x_title">
		      <h2> LISTE DES REPORTS  <small>MENU</small></h2>
		      <div class="clearfix"></div>
		    </div>
			<h3><button style="width: 100%" onclick="window.location.href='/report5'"> 
				STATISTIQUES SUR LES NIVEAUX D'EXPERIENCE PAR NIVEAUX D'ETUDE PAR CONTRAT
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report6'"> 
				STATISTIQUES SUR LES NIVEAUX D'EXPERIENCE PAR NIVEAUX D'ETUDE PAR SECTEUR
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report7'"> 
				STATISTIQUES SUR LES NIVEAUX D'EXPERIENCE PAR NIVEAUX D'ETUDE PAR SECTEUR
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report8'"> 
				STATISTIQUES SUR LES SECTEUR PAR LANGUE PAR NIVEAU DE LANGUE
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report9'"> 
				La distribution des offres et des demandes par ville
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report10'"> 
				La distribution des offres et des demandes par ville
			</button></h3><br>
		     
		  </div>
		</div>
	</div>
</div>


<div th:fragment="javascript">
	
</div>