<div th:fragment="title">
	<h2>REPORTING UNIVARITE : </h2>
</div>


<div th:fragment="content">
	<div class="row">
		<div class="col-md-12">
		  <div class="x_panel">
		    <div class="x_title">
		      <h2> LISTE DES REPORTS  <small>MENU</small></h2>
		      <div class="clearfix"></div>
		    </div>
			<h3><button style="width: 100%" onclick="window.location.href='/report1'"> 
				STATISTIQUES SUR LES NIVEAUX D'ETUDE
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report2'"> 
				STATISTIQUES SUR LES VILLES
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report3'"> 
				STATISTIQUES SUR LES TYPES DE CONTRAT
			</button></h3><br>
			
			<h3><button style="width: 100%" onclick="window.location.href='/report4'"> 
				STATISTIQUES SUR LES NIVEAUX D'EXPERIENCE
			</button></h3><br>
			
		  </div>
		</div>
	</div>
	
</div>


<div th:fragment="javascript">
	
</div>